*,
*:after,
*:before {
  font-style: normal;
  text-decoration: none;
  text-align: unset;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(/Images/Lake\ Blur.jpg) no-repeat;
  background-size: cover;

  color: #fff;
}

header {
  padding-top: 30px;
  padding-bottom: 70px;
}

.topbutton {
  position: fixed;
  top: 50%;
  right: -10px;
  text-decoration: none !important;
  border-radius: 10px;
  padding: 10px 15px;
  letter-spacing: 0.1em;

  cursor: pointer;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

a.topbutton:visited {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Lobster', sans-serif;
  font-size: 40px;
  color: #fff;
}

.logo:hover {
  color: #fff;
}

nav a:hover {
  text-decoration: none;
  color: #fff;
}

.nav-list {
  display: flex;
  column-gap: 50px;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #fff;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  text-decoration: none;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  line-height: 40px;
  padding: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.09);
  backdrop-filter: blur(5px);

  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-items:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.nav-items {
  color: #fff;
}

a.dropdown-links:active,
a.dropdown-links {
  text-decoration: none;
  color: #fff;
}

a.dropdown-links:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.burger-contact {
  display: none;
}

.burger-socials {
  display: none;
}

.nav-button {
  position: fixed;
  display: none;
  border: none;
  background-color: unset;
}

.about-block {
  margin: 0 auto;
  padding: 30px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  border-radius: 50px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.09);
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.about-section {
  margin-top: 20px;
  max-width: 350px;
  line-height: 25px;
}

.about-heading {
  margin: 10px 10px;
}

.feedback {
  margin: 30px 0 80px;
  padding: 30px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.1em;
}

.feedback-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.feedback-box {
  display: flex;
  justify-content: space-between;
  /* width: 750px; */
  margin-top: 50px;
  padding: 20px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.09);
}

.client-img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100px;
  border: 5px solid #fff;
}

.client-name {
  font-size: 20px;
  text-align: left;
  padding: 10px;
}

.client-text {
  text-align: center;
  padding: 10px;
}

footer a {
  color: #347A5D;
}

footer a:hover {
  text-decoration: none;
  color: rgba(52, 122, 93, 0.7);
}

.footer {
  padding: 25px 0;
  background-color: #ffff;
}

.foot-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-nav {
  line-height: 40px;
  font-size: 20px;
  align-self: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.foot-contact {
  line-height: 40px;
  font-size: 20px;
  align-self: center;
  letter-spacing: 0.1em;
}

.foot-socials {
  display: flex;
  justify-content: center;
  font-size: 35px;
  column-gap: 15px;
  margin-bottom: 35px;
}