@media (max-width: 820px) {
    .nav-list {
        display: none;
    }

    .menu-btn {
        display: block;
        position: relative;
    }

    .header-text {
        font-size: 40px;
    }

    .button {
        font-size: 20px;
    }

    .foot-nav {
        display: none;
    }

    .material-icons {
        font-size: 20px;
    }

    .topbutton {
        display: none;
    }

    .foot-contact {
        font-size: 15px;
    }

    .foot-elements {
        justify-content: right;
    }

    /* sub {
        z-index: -1;
    } */
}

@media (max-width: 418px) {
    .logo {
        font-size: 30px;
    }

    .header-nav {
        margin-bottom: 200px;
    }

    .header-text {
        font-size: 30px;
        padding-bottom: 15px;
    }

    .button {
        font-size: 14px;
        padding: 10px;
    }

    .topbutton {
        display: none;
    }
}