@media (max-width: 1024px) {
    .topbutton {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .nav.open .nav-list {
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50%;
        z-index: 1;
        padding: 150px 30px;
        flex-direction: column;

        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }

    .nav-list {
        justify-content: center;
    }

    .nav-button {
        display: block;
        position: static;
        z-index: 2;
        justify-content: right;
    }

    .burger-contact {
        display: inline-block;
        line-height: 40px;
        font-size: 20px;
        letter-spacing: 0.1em;
    }

    .burger-socials {
        display: flex;
        font-size: 30px;
        column-gap: 15px;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown-links {
        display: none;
    }

    .fa-angle-down {
        display: none;
    }

    .menu-btn {
        display: block;
        position: relative;
    }

    .slogan {
        text-align: center;
    }

    .order-button {
        margin-top: 15px;
        text-align: center;
        float: none;
    }

    .tour-block {
        flex-direction: column;
    }

    .tour-header {
        margin-top: 15px;
    }

    .tour-text {
        margin: 15px 10px 15px 10px;
    }

    .login-form {
        margin-top: 70px;
    }


    .comment {
        margin-top: 30px;
    }

    .contact-info {
        font-size: 16px;
        margin: 20px;
    }

    .about-content {
        justify-content: center;
        flex-wrap: wrap;
    }

    .form-section {
        justify-content: center;
        flex-direction: column;
    }

    /* .form-order-button {
        align-self: center;
    } */

    footer {
        display: none;
    }
}

@media (max-width: 576px) {
    .burger-contact {
        display: none;
    }

    .slogan {
        font-size: 45px;
    }

    .tour-img {
        max-width: 250px;
        max-height: 250px;
    }

    .feedback-box {
        max-width: 330px;
    }

    .client-img {
        width: 100px;
        height: 100px;
    }

    .connect {
        margin-top: 50px;
        font-size: 30px;
    }

    .socials {
        font-size: 30px;
    }

    .socials-text {
        font-size: 20px;
    }
}

@media (max-width: 300px) {
    .logo {
        font-size: 30px;
    }

    .nav-list {
        font-size: 14px;
    }

    .slogan {
        margin-top: 70px;
    }

    .burger-socials {
        font-size: 25px;
    }

    .tour-img {
        max-width: 180px;
        max-height: 180px;
    }

    .order-button {
        padding: 10px;
        font-size: 16px;
    }

    .contact-info {
        font-size: 12px;
    }

    iframe {
        width: 150px;
        height: 150px;
    }

    .login-form {
        font-size: 12px;
        padding: 20px;
    }

    .form-section {
        max-width: 270px;
    }

    .order-form {
        max-width: 270px;
        padding: 15px;
    }

    input {
        font-size: 12px;
    }

    .feedback {
        font-size: 14px;
    }

    .feedback-box {
        max-width: 270px;
    }

    .client-img {
        width: 80px;
        height: 80px;
    }

}