*,
*:after,
*:before {
  font-style: normal;
  text-decoration: none;
  text-align: none;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

a.dropdown-links:active,
a.dropdown-links {
  text-decoration: none;
  color: #fff;
}

a.dropdown-links:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

nav a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

footer a {
  color: #347A5D;
}

footer a:hover {
  text-decoration: none;
  color: rgba(52, 122, 93, 0.7);
}

.container {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  padding-top: 30px;
  padding-bottom: 150px;
  width: 100%;
  z-index: -1;

  background: url(/Images/Lake.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 300px;
}

.logo {
  font-family: 'Lobster';
  font-size: 40px;
  letter-spacing: 0.1em;

  color: #ffff;
}

.nav-list {
  display: flex;
  column-gap: 50px;
  padding-top: 30px;
  color: #fff;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.nav-items:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.dropdown {
  position: relative;
  display: inline-block;
  /* justify-content: center; */
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  line-height: 40px;
  padding: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.09);
  z-index: 1;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  display: block;
}

.nav-items {
  color: #fff;
}

.menu-btn {
  display: none;
  align-items: center;
  position: absolute;
  padding-top: 7px;

  width: 35px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
  display: block;
  margin-right: 50px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffff;
  transition-duration: .25s;
}

.menu-btn>span::before {
  content: '';
  top: -8px;
}

.menu-btn>span::after {
  content: '';
  top: 8px;
}

.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ffff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu-item:hover {
  background-color: #CFD8DC;
}


#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked~.menu-btn>span {
  transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu-toggle:checked~.menubox {
  visibility: visible;
  left: 0;
}

.header-text {
  max-width: 700px;
  text-align: right;
  margin-left: auto;
  padding-bottom: 30px;

  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.1em;

  color: #ffff;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
}

.button {
  display: block;
  float: right;

  padding: 15px;
  background-color: #FFD53F;
  border-radius: 30px;

  font-size: 22px;
  color: #483333;
  letter-spacing: 0.1em;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.foot-elements {
  display: flex;
  justify-content: left;
  column-gap: 90px;
}

.footer {
  padding: 35px 0;
  background-color: #ffff;
}

.foot-nav {
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.foot-contact {
  line-height: 40px;
  font-size: 18px;
  /* align-items: center; */
  letter-spacing: 0.1em;
}

.material-icons {
  font-size: 22px;
}

.policy {
  display: flex;
  /* max-width: 250px; */
  /* max-height: 20px; */
  justify-content: right;
  margin-bottom: 80px;
}

.topbutton {
  position: fixed;
  text-align: center;
  text-decoration: none !important;

  padding: 10px;
  font-size: 16px;
  letter-spacing: 0.1em;

  bottom: 50px;
  right: 50px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;

  background: rgba(0, 0, 0, 0.3);
}

a.topbutton:visited {
  color: #fff;
  text-decoration: none;
}